.fondo {
  background-size: cover; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.fondo-1 {
  background-image: url(../images/back-lock.jpg);
  margin-bottom: 90px; }

.fondo-2 {
  background-image: url(../images/bg3.jpg);
  margin-bottom: 90px; }

.modulo-alto {
  padding: 5em;
  min-height: 72vh;
  color: white; }

* {
  font-family: "Raleway", sans-serif; }

img {
  width: 100%; }

header .navbar {
  margin: 0px;
  padding: 10px 30px; }
header img {
  margin-top: -7px; }

h3, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

.opacidad {
  background-color: black;
  width: 99%;
  position: absolute;
  min-height: 72vh;
  opacity: 0.5; }

#home {
  text-align: center; }
  #home h1 {
    margin-top: 40px; }
  #home p {
    margin: 40px;
    opacity: 0.7; }

#title h3 {
  margin-top: 40px; }
#title p {
  opacity: 0.7; }
#title iframe {
  width: 95%;
  height: 200px;
  box-shadow: 3px 3px 7px white; }

.btn-default {
  color: white;
  background-color: black; }

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 4em;
  height: 4em;
  vertical-align: -0.05em; }

.lnr-database, .lnr-envelope, .lnr-cloud {
  color: grey; }

#define .cuadro img {
  height: 280px;
  width: 100%; }
#define .cuadro:hover {
  opacity: 0.5; }
#define .cuadroleft {
  height: 280px;
  width: 100%;
  text-align: right;
  padding: 20px; }
  #define .cuadroleft:hover {
    opacity: 0.5;
    border: 1px solid grey;
    box-shadow: 3px 3px 7px black; }
  #define .cuadroleft i {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: -5px;
    font-size: 20px; }
  #define .cuadroleft .fa-facebook {
    color: #4776D6; }
  #define .cuadroleft .fa-twitter {
    color: #5EBCD6; }
  #define .cuadroleft .fa-google-plus {
    color: #D62517; }
  #define .cuadroleft .fa-pinterest-p {
    color: #F34802; }
  #define .cuadroleft .fa:hover {
    color: #72726B;
    font-size: 25px; }
#define .cuadroright {
  height: 280px;
  width: 100%;
  text-align: left;
  padding: 20px; }
  #define .cuadroright:hover {
    opacity: 0.5;
    border: 1px solid grey;
    box-shadow: 3px 3px 7px black; }
  #define .cuadroright i {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: -5px;
    font-size: 20px; }
  #define .cuadroright .fa-facebook {
    color: #4776D6; }
  #define .cuadroright .fa-twitter {
    color: #5EBCD6; }
  #define .cuadroright .fa-google-plus {
    color: #D62517; }
  #define .cuadroright .fa-pinterest-p {
    color: #F34802; }
  #define .cuadroright .fa:hover {
    color: #72726B;
    font-size: 25px; }

.sinpadding {
  padding: 0; }

#texto {
  text-align: center; }
  #texto p, #texto h3, #texto h6 {
    text-align: left; }

#planes .cplomo {
  background-color: #E3E1EF;
  text-align: center;
  padding: 20px 15px 0px 15px;
  border: 2px solid white; }
  #planes .cplomo p {
    font-size: 8px; }
  #planes .cplomo img {
    width: 65%; }
  #planes .cplomo .man, #planes .cplomo .bd {
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 10px; }
  #planes .cplomo .rectn {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 5px 8px 5px; }
  #planes .cplomo:hover {
    border: 2px solid black;
    opacity: 0.5; }
#planes .boton {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
  width: 100%; }
  #planes .boton a {
    color: white;
    text-decoration: none; }

#contact i {
  margin: 7px;
  color: grey;
  font-size: 18px; }
#contact .boton {
  margin-top: 30px;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  width: 35%;
  margin-left: 20px; }
  #contact .boton a {
    color: white;
    text-decoration: none; }

footer {
  background-color: #E3E1EF;
  padding: 40px;
  margin-top: 30px;
  height: 110px; }
  footer .fa-facebook {
    color: #4776D6; }
  footer .fa-twitter {
    color: #5EBCD6; }
  footer .fa-google-plus {
    color: #D62517; }
  footer .fa-pinterest-p {
    color: #F34802; }
  footer .fa:hover {
    color: #72726B;
    font-size: 25px; }
  footer img {
    width: 15%; }
  footer .fa {
    margin: 10px;
    font-size: 20px; }
  footer #redes {
    text-align: right; }

hr {
  height: 2px;
  width: 30px;
  background-color: grey;
  margin-left: 0px; }

/*# sourceMappingURL=main.css.map */
