*{
  font-family: $fuente;
}
img{
  width: 100%;
}
header{
  .navbar{
    margin:0px;
     padding:10px 30px;
  }
  img{
    margin-top:-7px;
  }
}
h3, h5, h6{
  font-family: 'Montserrat', sans-serif;
}
.opacidad{
  background-color:black;
  width:99%;
  position:absolute;
  min-height: 72vh;
  opacity: 0.5;
}
#home{
  text-align: center;
  h1{
    margin-top: 40px;
  }
  p{
    margin:40px;
    opacity:0.7;
  }
}
#title{
  h3{
    margin-top:40px;
  }
    p{
    opacity:0.7;
  }
  iframe{
    width:95%;
    height:200px;
     box-shadow: 3px 3px 7px white;
  }
}
.btn-default{
  color:white;
  background-color:black;
}
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 4em;
  height: 4em;
  vertical-align: -0.05em;
}

.lnr-database,.lnr-envelope , .lnr-cloud{
  color: grey;
  }
#define{
   .cuadro{
     @include cuadro;
   }
   .cuadroleft{
    @include cuadrol(right);
   }
   .cuadroright{
    @include cuadrol(left);
   }
}
.sinpadding{
    padding:0;
   }
#texto{
  text-align:center;
  p, h3, h6{
    text-align:left;
  }
}
#planes{
  .cplomo{
    background-color:#E3E1EF;
    text-align:center;
    padding:20px 15px 0px 15px;
    border:2px solid white;
    p{
      font-size: 8px;
    }
    img{
      width:65%;
    }
    .man, .bd{
      border-right:1px solid black;
      border-top:1px solid black;
      padding:10px;
    }
    .rectn{
      border-top:1px solid black;
      border-bottom:1px solid black;
      padding:5px 5px 8px 5px;
    }
    &:hover{
      border:2px solid black;
      opacity:0.5;
    }
  }
  .boton{
    background-color:black;
    padding:20px;
    text-align:center;
    color:white;
    width:100%;
    a{
      color:white;
      text-decoration: none;
    }
  }
}
#contact{
  i{
    margin:7px;
    color:grey;
    font-size: 18px;
  }
   .boton{
    margin-top: 30px;
    background-color:black;
    padding:10px;
    text-align:center;
    color:white;
    width:35%;
    margin-left:20px;
    a{
      color:white;
      text-decoration: none;
    }
  }
}
footer{
  background-color:#E3E1EF;
  padding:40px;
  margin-top: 30px;
  height:110px;
  @include enlace;
  img{
    width:15%;
  }
  .fa{
    margin:10px;
    font-size: 20px;
  }
  #redes{
    text-align:right;
  }
}
hr{
  height:2px;
  width:30px;
  background-color:grey;
  margin-left:0px;
}