.fondo{
  background-size: cover;
}
.fondo-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.fondo-1 {
  background-image: url(../images/back-lock.jpg);
  margin-bottom:90px;
}
.fondo-2{
  background-image:url(../images/bg3.jpg);
  margin-bottom: 90px;
}
.modulo-alto {
  padding: 5em;
  min-height: 72vh;
  color:white;
}
@mixin cuadro{
 img{
   height:280px;
   width: 100%;
 }
 &:hover{
    opacity:0.5;
  }
}
@mixin cuadrol($text){
  height:280px;
  width:100%;
  text-align:$text;
  padding:20px;
  &:hover{
    opacity:0.5;
    border: 1px solid grey;
    box-shadow: 3px 3px 7px black;
  }
  i{
    margin-left:3px;
    margin-right:3px;
    margin-top:-5px;
    font-size:20px;
  }
  @include enlace;
}
@mixin enlace{
  .fa-facebook{
    color:#4776D6;
  }
  .fa-twitter{
    color:#5EBCD6;
  }
  .fa-google-plus{
    color:#D62517;
  }
  .fa-pinterest-p{
    color:#F34802;
  }
  .fa{
    &:hover{
      color:#72726B;
      font-size:25px;
    }
  }
}